/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// hojas secundarias
@import "md/mediaqueries";
@import "utilidades/variables";
@import "utilidades/variablesmd";
@import "utilidades/mixin.scss";
@import "utilidades/extend.scss";



/* estilos generales*/
body{
    background-color: $color-fondo;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*estilos del header*/

header{
    nav{
        .container-fluid{
            a{
                h1{
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: bolder;
                    font-variant: small-caps;
                    font-size: 4rem;
                    background-image: linear-gradient(to right, $color-principal, $color-fondo);
                    border-radius: 10px;
                    &:hover{
                        background-image: linear-gradient(to left, $color-principal, $color-fondo);
                    }
                }
            }
            button{
                span{

                }
            }
            #navbarSupportedContent{
                justify-content: end;
                ul{
                    li{
                        a{
                            text-decoration: none;
                            color: black;
                            @include transition;
                            background-color: $color-principal;
                            padding: 5px;
                            border-radius: 10px;
                            text-shadow: 1px 1px 2px black;
                            box-shadow: 1px 1px 3px black;
                            &:hover{
                                background: $color-botones-nav;
                                text-decoration: $color-principal;
                                padding: 5px;
                                border-radius: 10px;
                            }
                        }
                    }
                    .desplegable{
                        background-color: transparent;
                        border: 0;
                    }
                }
            }

        }
    }
}

/* estilos del main principal, productos eh infantiles */ 

main{
    .contenedorProductos{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .tarjetaProducto{
            margin: 2%;
            padding: 7px;
            justify-content: center;
            @include borde;
            border-radius: 6px;
            background-color: $color-principal;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            cursor: default;
            @include transition;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            }
            img{
                @include medidas(300px, 300px, 5px);
                border-radius: 6px;
                
            }
            .contenidoTarjetas{
                padding: 1%;
                text-align: center;
                h2{
                    font-weight: 800;
                }
                p{
                    color: black;
                    font-size: large;
                }
                a{
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    margin-top: 10px;
                    color: black;
                    @include borde;
                    border-radius: 5px;
                    @include transition;
                    &:hover{
                        background: black;
                        color: $color-principal;
                    }
                }
            }
        }
    }
}

/* estilos contenido principal nosotros */ 

main{
    .contenidoNosotros{
        display: flex;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 4fr;
        gap: 10px;
        p{
            @include medidas(50vw, 0, 10px);
            text-align: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.5rem;
        }
        
        .imgNosotros{
            margin: 10px;
            img{
                width: 40vw;
                height: 70vh;
                border-radius: 50px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
            }
        }
    }
}

/* estilo formulario */ 

main{
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        cursor: default;
        fieldset{
            background-color: $color-principal;
            @include borde;
            width: 80vw;
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            legend{
                font-size: 30px;
                font-weight: bold;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                margin: 15px;
                input{
                    font-size: 20px;
                    font-weight: 600;
                }
                select{
                   @extend %letra;
                    option{
                        @extend %letra;
                    }
                }
                textarea{

                }
            }
            input{
                
            }
        }
    }
}
/* estilo footer */ 

footer{
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: default;
    .acercaDe{
        @include medidas-footer;
        h3{
            @include h3-footer;
        }
        ul{
            @include ul-footer;
            li{
                @include li-footer;
            }
        }
    }
    .ayuda{       
        @include medidas-footer;
        h3{
            @include h3-footer;
        }
        ul{
            @include ul-footer;
            li{
                @include li-footer;
            }
        }
    }
    .redes{
        @include medidas-footer;
        h3{
            @include h3-footer;
        }
        ul{
            @include ul-footer;
            li{
                a{
                    text-decoration: none;
                    color: black;
                }
                @include li-footer;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}





//media queries tablet

@media (max-width:768px){
    /* estilos generales*/
    body{
    background-color: $color-fondo-mdt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    /*estilos del header*/

header{
    nav{
        .container-fluid{
            a{
                h1{
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: bolder;
                    font-variant: small-caps;
                    font-size: 4rem;
                    background-image: linear-gradient(to right, $color-principal-mdt, $color-botones-nav-mdt);
                    border-radius: 10px;
                    &:hover{
                        background-image: linear-gradient(to left, $color-principal-mdt, $color-botones-nav-mdt);
                    }
                }
            }
            button{
                span{

                }
            }
            #navbarSupportedContent{
                justify-content: end;
                ul{
                    li{
                        a{
                            text-decoration: none;
                            color: black;
                            @include transition;
                            background-color: $color-principal-mdt;
                            padding: 5px;
                            border-radius: 10px;
                            text-shadow: 1px 1px 2px black;
                            box-shadow: 1px 1px 3px black;
                            &:hover{
                                background: $color-botones-nav-mdt;
                                text-decoration: $color-principal-mdt;
                                padding: 5px;
                                border-radius: 10px;
                            }
                        }
                    }
                    .desplegable{
                        background-color: transparent;
                        border: 0;
                    }
                }
            }

        }
    }
}
/* estilos del main principal, productos eh infantiles */ 
main{
    .contenedorProductos{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .tarjetaProducto{
            margin: 2%;
            padding: 7px;
            justify-content: center;
            @include borde;
            border-radius: 6px;
            background-color: $color-principal-mdt;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
            cursor: default;
            @include transition;
            &:hover{
                box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
            }
            img{
                @include medidas(300px, 300px, 5px);
                border-radius: 6px;
                
            }
            .contenidoTarjetas{
                padding: 1%;
                text-align: center;
                h2{
                    font-weight: 800;
                }
                p{
                    color: black;
                    font-size: large;
                }
                a{
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    margin-top: 10px;
                    color: black;
                    @include borde;
                    border-radius: 5px;
                    @include transition;
                    &:hover{
                        background: black;
                        color: $color-principal-mdt;
                    }
                }
            }
        }
    }
}
/* estilos contenido principal nosotros */ 

main{
    .contenidoNosotros{
        display: flex;
        grid-template-columns: 4fr 4fr;
        grid-template-rows: 4fr;
        gap: 10px;
        p{
            @include medidas(50vw, 0, 10px);
            text-align: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.5rem;
        }
        
        .imgNosotros{
            margin: 10px;
            img{
                width: 40vw;
                height: 70vh;
                border-radius: 50px;
                box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
            }
        }
    }
}
/* estilo formulario */ 

main{
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        cursor: default;
        fieldset{
            background-color: $color-principal-mdt;
            @include borde;
            width: 80vw;
            margin-left: 15px;
            margin-right: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            legend{
                font-size: 30px;
                font-weight: bold;
            }
            p{
                font-size: 20px;
                font-weight: 600;
                margin: 15px;
                input{
                    font-size: 20px;
                    font-weight: 600;
                }
                select{
                    option{
                        
                    }
                }
                textarea{

                }
            }
            input{
                
            }
        }
    }
}
/* estilo footer */ 

footer{
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: default;
    .acercaDe{
        color: $color-botones-nav-mdt;
        @include medidas-footer;
        h3{
            @include h3-footer;
        }
        ul{
            @include ul-footer;
            li{
                @include li-footer;
            }
        }
    }
    .ayuda{ 
        color: $color-botones-nav-mdt;      
        @include medidas-footer;
        h3{
            @include h3-footer;
        }
        ul{
            @include ul-footer;
            li{
                @include li-footer;
            }
        }
    }
    .redes{
        color: $color-botones-nav-mdt;
        @include medidas-footer;
        h3{
            @include h3-footer;
        }
        ul{
            @include ul-footer;
            li{
                a{
                    text-decoration: none;
                    color: $color-botones-nav-mdt;
                }
                @include li-footer;
                img{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}
}