@media (max-width:576px) {
    /* main nosotros*/
    main{
        .contenidoNosotros{
            display: flex;
            flex-wrap: wrap;
            .parrafoNosotros{         
                p{
                    width: 90vw;
                    height: 70%;
                    margin: 10px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 10px;
                }
            }
            .imgNosotros{
                img{
                    width: 90%;
                    height: 70%;
                }
            }
        }
    }
}



