$color-principal-md: rgb(202, 105, 88);
$color-fondo-md: rgb(24, 22, 22);
$color-botones-nav-md: rgb(103, 54, 160);

$color-principal-mdt: rgb(103, 54, 160);
$color-fondo-mdt: rgb(20, 18, 18);
$color-botones-nav-mdt: rgb(160, 54, 128);